.container{
      display: flex;
      flex-direction: row;
}

.header{
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 10vw;
      background-color: red;

}

.rodape{
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 10vw;
      background-color: red;
}